<footer class="navbar-default">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="text-align:center">
                <p>The <a href="https://www.elixir-belgium.org/">Elixir Belgium node</a> is headed by Frederik Coppens.</p>
                <p>The team is part of <a href="https://www.vib.be">VIB</a> and is largely using computational resources from <a href="https://www.vscentrum.be/">VSC</a>.
                  All content on this site is available under <a href="https://creativecommons.org/share-your-work/public-domain/cc0/">CC0-1.0</a>, unless otherwise specified.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" style="text-align:center">
                <ul class="contact-info">
                    {% if site.email %}
                      <li><i class="fa fa-envelope"></i><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                    {% endif %}
                    {% if site.github_username %}
                      <li><i class="fa fa-github"></i><a href="https://github.com/{{ site.github_username }}">{{ site.github_username }}</a></li>
                    {% endif %}
                    {% if site.twitter_username %}
                      <li><i class="fa fa-twitter"></i><a href="https://twitter.com/{{ site.twitter_username }}">{{ site.twitter_username }}</a></li>
                    {% endif %}
                      <li><i class="fa fa-rss"></i>Subscribe <a href="{{ "/feed.xml" | absolute_url }}">via RSS</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
